/* Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: ’’;
    content: none;
}


/* remember to highlight inserts somehow! */

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    line-height: 1;
    font-family: "Open Sans", sans-serif;
    min-height: 100%;
}


/* Main */

body {
    background: url(../assets/background.jpg) no-repeat center center fixed;
}

input[type=text] {
    width: 50%;
    max-width: 500px;
    height: 30px;
    font-size: 150%;
    padding: 10px;
    border: 2px solid #DADADA;
    border-radius: 4px;
    transition: all .2s linear;
    font-family: "Open Sans", sans-serif;
}

input[type=text]:focus {
    outline: none;
    border-color: #800080;
    transition: all .2s linear;
}

.button {
    background-color: #800080;
    display: inline-block;
    padding: 15px;
    height: 20px;
    line-height: 20px;
    border: 2px solid #800080;
    border-radius: 4px;
    text-align: center;
    font-size: 120%;
    vertical-align: top;
    color: white;
    font-weight: bold;
    transition: all .1s linear;
    user-select: none;
}

.button:hover {
    cursor: pointer;
    background-color: #5b005b;
    border-color: #5b005b;
    transition: all .1s linear;
}

.button:active {
    cursor: pointer;
    background-color: #5b005b;
    border-color: #5b005b;
    transition: all .05s linear;
    box-shadow: 0px 0px 3px #000;
}

.invalid {
    color: rgb(108, 2, 122);
}

.copyright {
    font-size: 65%;
    text-align: right;
    margin-right: 5px;
    margin-bottom: 5px;
}

.bottom-right {
    position: fixed;
    text-align: right;
    font-size: 65%;
    right: 5px;
    bottom: 5px;
}


/* Generic */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 150%;
}

h1 {
    font-size: 8.2em;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2 {
    font-size: 5em;
    padding-top: 10px;
    padding-bottom: 10px;
}

h3 {
    font-size: 2em;
    padding-top: 5px;
    padding-bottom: 5px;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: .67em;
}

p {
    font-size: 1.25em;
}

table {
    margin-left: -10px;
}

td {
    padding: 10px;
}

a.white,
a.white:visited,
.white-link {
    color: #FFFFFF;
    text-decoration: underline;
}

a.white:hover,
.white-link:hover {
    color: #800080;
    cursor: pointer;
    text-decoration: underline;
}

a.white:active,
.white-link:active {
    color: #800080;
    cursor: pointer;
    text-decoration: underline;
}

a,
a:visited,
.link {
    color: #09f;
    text-decoration: none;
}

a:hover,
.link:hover {
    cursor: pointer;
    text-decoration: underline;
}

a:active,
.link:active {
    color: #000;
    cursor: pointer;
    text-decoration: underline;
}

.inline-img {
    width: 300px;
    vertical-align: top;
}

.inline-img-left {
    float: left;
    padding-right: 20px;
}

.inline-img-right {
    float: right;
    padding-left: 20px;
}

.bold-text {
    font-weight: bold;
}

.width-100 {
    width: 100%;
}

.width-75 {
    width: 75%;
}

.height-100 {
    height: 100%;
}

.relative {
    position: relative;
}

.display-block {
    display: block;
}

.display-inline {
    display: inline;
}

.display-inline-block {
    display: inline-block;
}

.hidden {
    display: none;
}

.position-absolute {
    position: absolute;
}

.center-vert {
    top: 50%;
    transform: translate(0, -50%);
}

.center-hor {
    margin: 0 auto;
}

.text-aligned-center {
    text-align: center;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.margin-left-10 {
    margin-left: 10px;
}

.white-text {
    color: white;
}

.content {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #FFF;
    padding: 65px;
    border: 2px solid #FFF;
    border-radius: 6px;
    box-shadow: 0px 0px 5px #AAAAAA;
}

.logo {
    padding-top: 2%;
}


/* Media queries - responsive */

@media (min-width: 1000px) {
    body {
        font-size: 100%;
    }
    .max-width {
        max-width: 950px;
    }
    .content {
        max-width: 950px;
    }
}

@media (max-width: 1000px) and (min-width: 800px) {
    body {
        font-size: 75%;
    }
    input[type=text] {
        font-size: 175%;
    }
    .button {
        font-size: 150%;
    }
    .max-width {
        max-width: 750px;
    }
    .content {
        max-width: 620px;
        font-size: 125%;
    }
}

@media (max-width: 800px) {
    body {
        font-size: 60%;
    }
    input[type=text] {
        font-size: 175%;
    }
    .button {
        font-size: 150%;
    }
    .max-width {
        max-width: 95%;
    }
    .content {
        max-width: 85%;
        padding: 5%;
        font-size: 125%;
    }
    tbody td {
        display: block;
        text-align: left;
        padding-bottom: 20px;
    }
}

@media (max-width: 650px) {
    .inline-img-left, .inline-img-right {
        float: initial;
        padding-left: 0px;
        padding-right: 0px;
    }

    .inline-img {
        display: block;
        margin: 0 auto;
        padding-bottom: 15px;
    }
}
